body {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

table {
  width: 99%;
  border-collapse:collapse;
  margin: 0px auto;
}

th, td {
  border: 1px solid #ddd ;
  padding: 5px;
}

.ui-action {
  cursor: pointer ;
  text-decoration: none ;
  color: #06c !important ;
  padding: 3px ;
  font-weight: bold !important;
}

.ui-action:hover, .ui-action:focus {
  color: #09f;
}


.ui-error-text {
  color:#8a1f11;
}
a.ui-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none ;
  font-weight: normal !important ;
}


#UINavigation {
  width: 200px;
  float: left ;
}

#UIWorkspace {
  margin-left: 200px ;
  padding-right: 20px ;
  overflow: auto ;
}

.logo-text {
  font-family: Garamond, serif;
  line-height: 1em;
  color: #bab9bd;
  font-weight:bold;
  font-size: 20px;
  text-shadow:0px 0px 0 rgb(133,132,136),1px 0px 0 rgb(89,88,92), 2px 0px 0 rgb(46,45,49),3px 0px 2px rgba(0,0,0,0.5),3px 0px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
